<div class="card mb-3 row-flush">
    <div class="row no-gutters secondary-color">
        <div class="col-md-12 col-lg-6">
            <img src="{{'assets/images/leaking-home-cta.jpg'|theme}}"
                 class="card-img img-fluid"
                 alt="{{ 'Service résidentielle de plomberie'|_ }}">
        </div>
        <div class="col-md-12 col-lg-6 py-5 d-flex align-items-center">
            <div class="card-body container text-white mx-sm-5">
                <h2 class="text-uppercase py-0 h2-responsive">{{ "Un dégât d'eau?"|_ }}</h2>
                <h3 class="mt-0 h3-responsive">{{ 'Faites appel à nous dès maintenant'|_ }}</h3>
                <p>{{ "Contactez-nous rapidement lors d'un dégât d'eau."|_ }} {{ "Notre équipe vous aidera à distance pendant qu'un plombier se rendra à votre domicile pour limiter les dégâts et réparer le tout."|_ }} </p>
            </div>
        </div>
    </div>
</div>