@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {
    font-family: sans-serif;
  }
}
.text-uppercase{
  text-transform: uppercase;
}
.underline_text {
  display:inline-block;
  border-bottom:1px solid;
  margin-bottom:1rem;
}
.text-shadow {
  text-shadow: 2px 2px #333333;
}