description = "Header"
==
<section id="header" class="secondary-color-dark">
    <div class="container">
        <div class="row justify-content-end">
			<div class="col-sm-2 col-md-4 col-lg-6 d-none d-sm-block">
				{% partial 'socials' %}
			</div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 text-sm-right p-2">
                <small><span class="pr-3 white-text">
				<a href="tel:{{ this.theme.default_phone }}" style="color:white!important;">
					<i class="fas fa-phone"></i>&nbsp;
					{{ this.theme.default_phone }}</a>
				</span>
				<span class="pr-3 white-text align-top">
				<a href="mailto:{{ this.theme.default_email }}" class="text-uppercase" style="color:white!important;">
					<i class="fas fa-envelope"></i>&nbsp;
					{{ this.theme.default_email }}</a>
				</span>
				<span class="d-none d-sm-inline-block">
				{% if lang == 'fr' %}
				<a href="#"
				   class="text-white"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'en'" title="English">
					ENGLISH
				</a>
				{% else %}
				<a href="#"
				   class="text-white"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'fr'" title="Français">
					FRANÇAIS
				</a>
				{% endif %}
				</span>
				<span class="d-inline-block d-sm-none">
				{% if lang == 'fr' %}
				<a href="#"
				   class="text-white"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'en'" title="English">
					EN
				</a>
				{% else %}
				<a href="#"
				   class="text-white"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'fr'" title="Français">
					FR
				</a>
				{% endif %}
				</span>
				</small>
            </div>
        </div>
    </div>
</section>