description = "Navigation bar"
==

<nav id="navbar" class="navbar bg-white navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="{{ 'home'|page }}">
			<img src="{{'assets/images/jolois-consultants-logo.svg'|theme}}" style="width:200px;" alt="{{ 'Logo de Jolois Consultants en informatique'|_ }}">
		</a>
		<div class="hamburger hamburger--spring d-flex d-md-block d-lg-none float-right"  data-toggle="collapse" data-target="#navbarCollapse">
			<div class="hamburger-box">
				<div class="hamburger-inner"></div>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto pb-0">
				<li class="nav-item mx-auto">
					<a class="nav-link" href="{{ 'home'|page }}">
						{{'Accueil'|_}}
					</a>
				</li>
				<li class="nav-item dropdown mx-auto">
					<a class="nav-link dropdown-toggle" href="#" role="button"
					   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{'L\'entreprise'|_}}
					</a>
					<div class="dropdown-menu animate slideIn mx-auto" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ 'entreprise'|page }}#jean-marie">Jean-Marie</a>
						<a class="dropdown-item" href="{{ 'entreprise'|page }}#elias">Elias</a>
						<a class="dropdown-item" href="{{ 'equipe'|page }}">{{'L\'équipe'|_}}</a>
					</div>
				</li>
				<li class="nav-item mx-auto">
					<a class="nav-link" href="{{ 'services-et-tarifs'|page }}">{{'Services'|_}}</a>
				</li>
				<li class="nav-item mx-auto">
					<a class="nav-link" href="{{ 'contact'|page }}">
						{{'Contact'|_}}</a>
				</li>
				<li class="nav-item pl-3 d-none d-sm-none d-md-none d-lg-block">
					<a class="btn btn-primary" href="mailto:{{ this.theme.support_email }}" target="_blank">{{'Demande de support'|_}}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>