{% if this.theme.facebook_url %}
<a href="{{ this.theme.facebook_url }}" target="_blank" title="Facebook">
	<span class="fa-stack" style="vertical-align: top; font-size:10px; margin-top:10px">
		<i class="fas fa-circle fa-stack-2x white-text"></i>
		<i class="fab fa-facebook-f fa-stack-1x"></i>
	</span>
</a>
{% endif %}
{% if this.theme.twitter_url %}
<a href="{{ this.theme.twitter_url }}" target="_blank" title="Twitter">
	<span class="fa-stack" style="vertical-align: top; font-size:10px;margin-top:10px">
		<i class="fas fa-circle fa-stack-2x white-text"></i>
		<i class="fab fa-twitter fa-stack-1x"></i>
	</span>
</a>
{% endif %}
{% if this.theme.linkedin_url %}
<a href="{{ this.theme.linkedin_url }}" target="_blank" title="LinkedIn">
	<span class="fa-stack" style="vertical-align: top; font-size:10px; margin-top:10px">
		<i class="fas fa-circle fa-stack-2x white-text"></i>
		<i class="fab fa-linkedin-in fa-stack-1x"></i>
	</span>
</a>
{% endif %}
{% if this.theme.instagram_url %}
<a href="{{ this.theme.instagram_url }}" target="_blank" title="Instagram">
	<span class="fa-stack" style="vertical-align: top; font-size:10px; margin-top:10px;">
		<i class="fas fa-circle fa-stack-2x white-text"></i>
		<i class="fab fa-instagram fa-stack-1x"></i>
	</span>
</a>
{% endif %}
{% if this.theme.pinterest_url %}
<a href="{{ this.theme.pinterest_url }}" target="_blank" title="Pinterest">
	<span class="fa-stack" style="vertical-align: top; font-size:10px; margin-top:10px;">
		<i class="fas fa-circle fa-stack-2x white-text"></i>
		<i class="fab fa-pinterest-p fa-stack-1x"></i>
	</span>
</a>
{% endif %}